body {
    margin: 0;
    font-family: Roboto;
}

/* This section is used to align the elements in the header and hero */
.header-and-hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 0 15vw;
}

.secondary {
    color: #e5e7eb;
}

.primary-text {
    color: #f9faf8;
}

/* This section is to style the header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
    /* Style me to shrink to 66% with min-width later */
}

.hero-logo {
    font-size: 24px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 16px;
    margin: 0;
}

/* This section is to style the hero */
button {
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    margin-top: 8px;
    padding: 4px 24px;
    border: 0;
}

.hero {
    display: flex;
    gap: 48px;
    margin: 64px 0;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    height: 200px;
    width: 450px;
    background-color: #808080;

}

.main {
    flex: 1;
}
.primary-text.text {
    font-size: 48px;
    font-weight: 900;
}

.main .secondary {
    font-size: 18px;
}

/* Information Section */

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vw;
    
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 32px;
}

.cards {
    display: flex;
    gap: 48px;
    padding-bottom: 60px;
}

.cards div {
    text-align: center;
}

.image-placeholder {
    border: 3px solid #3882f6;
    border-radius: 12px;
    height: 150px;
}

.information-content {
    width: 150px;
}

.cards p {
    margin-top: 8px;
}

/* This is for styling the quote section */

#quote {
    background-color: #e5e7eb;
    padding: 70px 20vw;
    display: flex;
    flex-direction: column;
}

blockquote {
    flex: 1;
    align-self: center;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    margin-bottom: 0px;

}

#quote p {
    align-self: flex-end;
    font-style: normal;
    font-weight: 900;
    margin: 0px 100px;
}

/* This is for styling the call to action */

#call-to-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 15vw;
    background-color: #3882f6;
    padding: 40px 50px;
    border-radius: 5px;
    color: white
}

#call-to-action .call {
    font-weight: 700;
}

#call-to-action .call-details {
    font-weight: 200;
}

#call-to-action button {
    border: 1px solid #fff;
}

/* This is for styling the footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 24px;
    color: #fff;
}